.formContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  margin-top: 100px;
}
.formWrapper {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  gap: 18px;
  flex-wrap: wrap;
}
.formLabel {
  display: flex;
  flex-direction: column;
  height: 74px;

  color: #8a8a89;
  font-family: Manrope;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px; /* 128.571% */

  gap: 8px;
}
.fromMilageWrapper {
  display: flex;
}
.fromSelector {
  display: flex;
  padding: 10px 89px 10px 18px;
  justify-content: center;
  align-items: center;
  gap: 32px;

  border-radius: 14px;
  background: #f7f7fb;

  color: #121417;
  font-family: Manrope;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 111.111% */

  border: none;
}

.milageInputLeft {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 48px;
  padding: 14px 93px 14px 24px;

  align-items: center;
  flex-shrink: 0;

  border: none;
  border-radius: 14px 0px 0px 14px;
  border-right: 1px solid rgba(138, 138, 137, 0.2);
  background: #f7f7fb;

  color: #121417;
  font-family: Manrope;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 111.111% */

  &.milageInputLeft::-webkit-outer-spin-button,
  &.milageInputLeft::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }
}
.milageInputRight {
  display: flex;
  width: 48px;
  padding: 14px 93px 14px 24px;

  align-items: center;
  flex-shrink: 0;

  border: none;
  border-radius: 0px 14px 14px 0px;
  background: #f7f7fb;

  color: #121417;
  font-family: Manrope;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 111.111% */

  &.milageInputRight::-webkit-outer-spin-button,
  &.milageInputRight::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }
}

.milageInputRight::-webkit-outer-spin-button,
.milageInputRight::-webkit-inner-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}

.btn {
  display: inline-flex;
  padding: 14px 44px;
  width: 136px;
  height: 48px;
  justify-content: center;
  align-items: center;

  border: none;
  border-radius: 12px;
  background: #3470ff;

  color: white;
  font-family: inherit;
  letter-spacing: 0.15em;
  text-decoration: none;

  transition: background 250ms linear;

  &:hover,
  &:focus {
    cursor: pointer;
    background: #0b44cd;
  }
}
